@font-face {
  font-family: Quicksand;
  src: url("./assets/fonts/quicksand/static/Quicksand-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Quicksand;
  src: url("./assets/fonts/quicksand/static/Quicksand-SemiBold.ttf")
    format("TrueType");
  font-weight: bold;
  font-style: normal;
}

:root {
  /* Theme */

  /* Background */
  --banner-background-color: #332136;
  --main-background-color: #f6b5ff; /* Pink */
  --seconary-background-color: #181818; /* Black */
  --background-image: url(./assets/images/60-lines.png);

  /* Theme */
  --primary-theme-color-unfocused: #e0c8cd;
  --primary-theme-color-focused: #fccfd9;
  --seconary-theme-color: #1111;
  --text-color: #e7c0c9;
  --seconary-text-color: #9e445b;
  --text-box-text-color: #1111;
  --settings-text-color: #1111;
  --shadow-color: #719ece;

  --current-font: Quicksand;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Quicksand;
  color: var(--text-color);
}

.App {
  text-align: center;
}

body {
  background-color: var(--main-background-color);
}

/* SPRITE AND TEXT */

.sprite-text-content-container {
  display: flex;
  /*overflow: hidden;*/
  max-height: 70vh;
  background-color: var(--main-background-color);
  background-image: var(--background-image);
}

.sprite-content-container {
  display: flex;
  float: left;
  aspect-ratio: 1 / 1;
  width: 50%;
  /*position: relative;*/
}

.text-content-container {
  display: flex;
  float: right;
  aspect-ratio: 1 / 1;
  width: 50%;
  position: relative;
}
