/* BANNER */

.banner {
  background-color: var(--banner-background-color);
}

.banner h1 {
  font-size: 115px;
  font-weight: bold;
  color: var(--text-color);
  overflow: hidden;
}

.banner span {
  /* Banner title dots */
  font-size: 105px;
  color: var(--seconary-text-color);
  /*background: none;
	padding-bottom: 0px;*/
}

.banner p {
  font-size: 30px;
  color: var(--text-color);
  background-color: #181818;
  padding: 4px 0px;
}

.banner h2 {
  font-size: 20px;
  color: var(--seconary-text-color);
  padding-bottom: 1%;
}